bucket_b/PCF-Pipeline.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1758503561558,
    "description" : "Template for telemetry processing",
    "identifier" : "PCF-Pipeline",
    "lastModifiedTimestamp" : 1758503561558,
    "name" : "PCF Pipeline",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "cbc35304-bc04-3216-9174-88596033c1f5",
        "id" : "dc86665d-ed12-3fb4-b53c-2921b33c0990",
        "name" : "ElasticOutputChannelInputPort",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "98d2284f-03ac-3752-b074-776123b24c16",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
        "id" : "f1549214-0d93-3d4c-93cc-b5bcd1ff14ff",
        "name" : "PCFTransfromOutputPort",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
        "id" : "2870b1e9-cfd1-368d-ba8a-b6ae36b70503",
        "name" : "PCFTransformInputPort",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b71975c3-b790-35ab-8661-3adace1578d9",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
        "id" : "1f7968ce-7a8c-3196-ad5f-49994dc21172",
        "name" : "PCFInputChannelOutputPort",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0.4.3.2.0-89"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0.4.3.2.0-89"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5bce6a9c-c7cf-3c20-8e0f-d856be842b27",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "inherit-record-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "compression-level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-level",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0.4.3.2.0-89"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0.4.3.2.0-89"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1b620587-c8ef-386c-805e-7d3e86b5e325",
      "name" : "JsonTreeReader",
      "properties" : {
        "Max String Length" : "20 MB",
        "schema-application-strategy" : "SELECTED_PART",
        "schema-name" : "${schema.name}",
        "starting-field-strategy" : "ROOT_NODE",
        "schema-access-strategy" : "infer-schema",
        "schema-text" : "${avro.schema}",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "schema-application-strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-application-strategy",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-inference-cache",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "starting-field-strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-strategy",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "starting-field-name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-name",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-elasticsearch-client-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0.4.3.2.0-89"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-elasticsearch-client-service-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0.4.3.2.0-89"
        },
        "type" : "org.apache.nifi.elasticsearch.ElasticSearchClientService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "57fe2f28-2175-3fdd-a316-41fcb820daf2",
      "name" : "ElasticSearchClientServiceImpl",
      "properties" : {
        "el-cs-suppress-nulls" : "always-suppress",
        "el-cs-strict-deprecation" : "false",
        "el-cs-http-hosts" : "#{elastic_url}",
        "el-cs-charset" : "UTF-8",
        "el-cs-send-meta-header" : "true",
        "el-cs-username" : "elastic",
        "el-cs-enable-compression" : "false",
        "el-cs-sniff-cluster-nodes" : "false",
        "el-cs-sniffer-interval" : "5 mins",
        "el-cs-sniffer-failure-delay" : "1 min",
        "el-cs-node-selector" : "ANY",
        "authorization-scheme" : "BASIC",
        "el-cs-sniff-failure" : "false",
        "el-cs-sniffer-request-timeout" : "1 sec",
        "el-cs-connect-timeout" : "5000",
        "el-cs-socket-timeout" : "60000"
      },
      "propertyDescriptors" : {
        "el-cs-suppress-nulls" : {
          "displayName" : "Suppress Null/Empty Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-suppress-nulls",
          "sensitive" : false
        },
        "el-cs-strict-deprecation" : {
          "displayName" : "Strict Deprecation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-strict-deprecation",
          "sensitive" : false
        },
        "el-cs-http-hosts" : {
          "displayName" : "HTTP Hosts",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-http-hosts",
          "sensitive" : false
        },
        "el-cs-run-as-user" : {
          "displayName" : "Run As User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-run-as-user",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "el-cs-charset" : {
          "displayName" : "Charset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-charset",
          "sensitive" : false
        },
        "jwt-shared-secret" : {
          "displayName" : "JWT Shared Secret",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "jwt-shared-secret",
          "sensitive" : true
        },
        "el-cs-send-meta-header" : {
          "displayName" : "Send Meta Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-send-meta-header",
          "sensitive" : false
        },
        "el-cs-username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-username",
          "sensitive" : false
        },
        "el-cs-enable-compression" : {
          "displayName" : "Enable Compression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-enable-compression",
          "sensitive" : false
        },
        "el-cs-sniff-cluster-nodes" : {
          "displayName" : "Sniff Cluster Nodes",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-sniff-cluster-nodes",
          "sensitive" : false
        },
        "api-key" : {
          "displayName" : "API Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "api-key",
          "sensitive" : true
        },
        "el-cs-node-selector" : {
          "displayName" : "Node Selector",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-node-selector",
          "sensitive" : false
        },
        "el-cs-sniff-failure" : {
          "displayName" : "Sniff on Failure",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-sniff-failure",
          "sensitive" : false
        },
        "el-cs-sniffer-request-timeout" : {
          "displayName" : "Sniffer Request Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-sniffer-request-timeout",
          "sensitive" : false
        },
        "el-cs-ssl-context-service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "el-cs-ssl-context-service",
          "sensitive" : false
        },
        "el-cs-oauth2-token-provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "el-cs-oauth2-token-provider",
          "sensitive" : false
        },
        "el-cs-path-prefix" : {
          "displayName" : "Path Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-path-prefix",
          "sensitive" : false
        },
        "api-key-id" : {
          "displayName" : "API Key ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "api-key-id",
          "sensitive" : false
        },
        "el-cs-sniffer-interval" : {
          "displayName" : "Sniffer Interval",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-sniffer-interval",
          "sensitive" : false
        },
        "el-cs-sniffer-failure-delay" : {
          "displayName" : "Sniffer Failure Delay",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-sniffer-failure-delay",
          "sensitive" : false
        },
        "el-cs-password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-password",
          "sensitive" : true
        },
        "authorization-scheme" : {
          "displayName" : "Authorization Scheme",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "authorization-scheme",
          "sensitive" : false
        },
        "el-cs-connect-timeout" : {
          "displayName" : "Connect timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-connect-timeout",
          "sensitive" : false
        },
        "el-cs-socket-timeout" : {
          "displayName" : "Read timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "el-cs-socket-timeout",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.elasticsearch.ElasticSearchClientServiceImpl"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0.4.3.2.0-89"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0.4.3.2.0-89"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7d380a0c-b092-3cd4-afbf-aa1b65d77847",
      "name" : "GrokReaderPCF",
      "properties" : {
        "Grok Expression" : "%{DATA:log_timestamp} \\[%{DATA:module}\\] %{DATA:type} \\[%{LOGLEVEL:log_category}\\] %{TIMESTAMP_ISO8601:time_original} \\[%{DATA:trace_id},%{DATA:span_id},%{DATA:parent_span_id}\\] \\[%{DATA:thread_name}\\] %{DATA:class_name}:%{INT:line} - \\|\\|\\|%{GREEDYDATA:message}",
        "schema-name" : "${schema.name}",
        "no-match-behavior" : "append-to-previous-message",
        "schema-access-strategy" : "string-fields-from-grok-expression",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "Grok Expression" : {
          "displayName" : "Grok Expressions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Grok Expression",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT", "URL" ]
          },
          "sensitive" : false
        },
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "Grok Pattern File" : {
          "displayName" : "Grok Patterns",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Grok Pattern File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT", "URL" ]
          },
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "no-match-behavior" : {
          "displayName" : "No Match Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "no-match-behavior",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.grok.GrokReader"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 344.0,
      "identifier" : "fc7ac9c5-758a-3d93-a7cb-6fc60ef16a52",
      "label" : "Controller Service should be define at this level and shared locally in this sub process group \n\nUse Parameter Context for end point url or any value that can be shared accross process group \neg. Endpoint Elastic URL should be in param context\n\n",
      "position" : {
        "x" : 184.0,
        "y" : -296.0
      },
      "style" : {
        "font-size" : "18px"
      },
      "width" : 416.0,
      "zIndex" : 0
    } ],
    "maxConcurrentTasks" : 1,
    "name" : "PCF",
    "outputPorts" : [ ],
    "parameterContextName" : "POCEnv",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
          "id" : "33a028d6-b19b-33ca-9f22-858e2891bb96",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
        "identifier" : "b7b5b484-2e9a-36d4-945f-aa9ca343bda5",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
          "id" : "2c550ed4-5d7e-3b7d-a13d-5f1b4c92b86f",
          "name" : "ConvertRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : -552.0,
          "y" : -136.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
          "id" : "2c550ed4-5d7e-3b7d-a13d-5f1b4c92b86f",
          "name" : "ConvertRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
        "identifier" : "53a2b192-2cf2-3fbe-9b60-afda62ff6920",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
          "id" : "ba83d960-189a-3587-bb6f-2c6c286a61e5",
          "name" : "GenerateFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
          "id" : "1f7968ce-7a8c-3196-ad5f-49994dc21172",
          "name" : "PCFInputChannelOutputPort",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
        "identifier" : "013c876f-b0e4-30d7-9829-c700caa89ee6",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
          "id" : "2c550ed4-5d7e-3b7d-a13d-5f1b4c92b86f",
          "name" : "ConvertRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
        "identifier" : "33a028d6-b19b-33ca-9f22-858e2891bb96",
        "position" : {
          "x" : -640.0,
          "y" : 80.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
      "inputPorts" : [ ],
      "labels" : [ {
        "componentType" : "LABEL",
        "groupIdentifier" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
        "height" : 256.0,
        "identifier" : "22f42a10-ea17-3f2f-af72-b4a46eb7320e",
        "label" : "Input: Source Channel (Beats/HTTP)\n\nSupport Multiple Channel for a single message format.\nOutcome from this process group is flowfile containing records of json \nAllowed Processing:\n- Source format Validation before converting to JSON\n- Converting Source format to JSON\n- Error handling will be implemented here or send to different output port\n\n\nAssign Channel related attributes here at flow file level\n\n\nOutput: Flow file with json records\n\n\nUse the following to test your GROK Expression\nhttps://grokconstructor.appspot.com/do/match#result\n",
        "position" : {
          "x" : 0.0,
          "y" : -272.0
        },
        "style" : {
          "font-size" : "12px"
        },
        "width" : 640.0,
        "zIndex" : 0
      } ],
      "maxConcurrentTasks" : 1,
      "name" : "PCF Input Channels",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
        "identifier" : "1f7968ce-7a8c-3196-ad5f-49994dc21172",
        "name" : "PCFInputChannelOutputPort",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -336.0,
          "y" : 80.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "position" : {
        "x" : -312.0,
        "y" : -360.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0.4.3.2.0-89"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
        "identifier" : "2c550ed4-5d7e-3b7d-a13d-5f1b4c92b86f",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ConvertRecord",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -392.0,
          "y" : -136.0
        },
        "properties" : {
          "Include Zero Record FlowFiles" : "true",
          "Record Writer" : "5bce6a9c-c7cf-3c20-8e0f-d856be842b27",
          "Record Reader" : "7d380a0c-b092-3cd4-afbf-aa1b65d77847"
        },
        "propertyDescriptors" : {
          "Include Zero Record FlowFiles" : {
            "displayName" : "Include Zero Record FlowFiles",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Zero Record FlowFiles",
            "sensitive" : false
          },
          "Record Writer" : {
            "displayName" : "Record Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Writer",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ConvertRecord",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0.4.3.2.0-89"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "8ce8fee7-9c3c-3dae-abc3-3dc2309663de",
        "identifier" : "ba83d960-189a-3587-bb6f-2c6c286a61e5",
        "maxBackoffPeriod" : "10 mins",
        "name" : "GenerateFlowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -392.0,
          "y" : -288.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "File Size" : "0B",
          "generate-ff-custom-text" : "Mon, Sep 30, 2024 09:22:14.688 [APP/PROC/WEB/0] OUT [DEBUG] 2024-09-30 09:22:14.688 [5ade,7663, 9a12] [http-nio-8080-exec-9] com.service.common.config.filter.LoggingFilter:70 - |||New GET request with URI: /credit-card/cin/1\t\nMon, Sep 30, 2024 09:22:14.584 [APP/PROC/WEB/0] OUT [DEBUG] 2024-09-30 09:22:14.584 [5ade,abf6, b567] [http-nio-8080-exec-8] com.service.common.config.aspect.LoggingAspect:81 - |||Generated response from com.bca.service.account.controller.AccountController#inquiryAccount(): {\"status\":200,\"headers\":{},\"body\":{\"error_schema\":{\"error_code\":\"ACC-1-000\",\"error_message\":{\"english\":\"Successful\",\"indonesian\":\"Sukses\"},\"http_status\":200},\"output_schema\":{\"total_accounts\":5,\"accounts\":[{\"account_number\":\"1\",\"account_name\":\"MYBCA OR TUJUH\",\"account_type\":{\"code\":\"1\",\"description\":\"BCA DOLLAR\"},\"currency\":\"USD\",\"open_indicator\":{},\"post_indicator\":{},\"dormant_status\":{},\"joint_account_type\":{\"code\":\"000\",\"description\":\"PEMILIK\"}},{\"account_number\":\"2\",\"account_name\":\"MYBCA OR TUJUH\",\"account_type\":{\"code\":\"2\",\"description\":\"TAHAPAN GOLD\"},\"currency\":\"IDR\",\"open_indicator\":{},\"post_indicator\":{},\"dormant_status\":{},\"joint_account_type\":{\"code\":\"000\",\"description\":\"PEMILIK\"}},{\"account_number\":\"83\",\"account_name\":\"MYBCA OR TUJUH\",\"account_type\":{\"code\":\"3\",\"description\":\"GIRO NONBANK (RUPIAH)\"},\"currency\":\"IDR\",\"open_indicator\":{},\"post_indicator\":{},\"dormant_status\":{},\"joint_account_type\":{\"code\":\"000\",\"description\":\"PEMILIK\"}},{\"account_number\":\"4\",\"account_name\":\"REK UAT 00000222692\",\"account_type\":{\"code\":\"4\",\"description\":\"BCA DOLLAR\"},\"currency\":\"SGD\",\"open_indicator\":{},\"post_indicator\":{},\"dormant_status\":{},\"joint_account_type\":{\"code\":\"000\",\"description\":\"PEMILIK\"}},{\"account_number\":\"5\",\"account_name\":\"MYBCA OR TUJUH\",\"account_type\":{\"code\":\"5\",\"description\":\"BCA DOLLAR\"},\"currency\":\"SGD\",\"open_indicator\":{},\"post_indicator\":{},\"dormant_status\":{},\"joint_account_type\":{\"code\":\"000\",\"description\":\"PEMILIK\"}}],\"epoch\":7}}}\nMon, Sep 29, 2024 09:22:14.688 [APP/PROC/WEB/0] OUT [DEBUG] 2024-09-29 09:22:14.688 [5ade,7663, 9a12] [http-nio-8080-exec-9] com.service.common.config.filter.LoggingFilter:70 - |||New GET request with URI: /credit-card/cin/1\t\n",
          "Batch Size" : "1",
          "Unique FlowFiles" : "false",
          "Data Format" : "Text"
        },
        "propertyDescriptors" : {
          "character-set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "File Size" : {
            "displayName" : "File Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "File Size",
            "sensitive" : false
          },
          "mime-type" : {
            "displayName" : "Mime Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "mime-type",
            "sensitive" : false
          },
          "generate-ff-custom-text" : {
            "displayName" : "Custom Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "generate-ff-custom-text",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Unique FlowFiles" : {
            "displayName" : "Unique FlowFiles",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Unique FlowFiles",
            "sensitive" : false
          },
          "Data Format" : {
            "displayName" : "Data Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Data Format",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "1 min",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "cbc35304-bc04-3216-9174-88596033c1f5",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Elastic Output Channels",
      "outputPorts" : [ ],
      "position" : {
        "x" : -304.0,
        "y" : 264.0
      },
      "processGroups" : [ ],
      "processors" : [ ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min",
      "versionedFlowCoordinates" : {
        "branch" : "main",
        "bucketId" : "bucket_c",
        "flowId" : "Elastic-output-channel",
        "registryUrl" : "",
        "storageLocation" : "",
        "systemType" : "REGISTRY_CLIENT",
        "version" : "824f6f55620b01be5ab6a3d0ee62f2d2582354f9"
      }
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
          "id" : "e955fc38-f0b9-3b16-ae72-7b0fe6c0d156",
          "name" : "UpdateRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
        "identifier" : "48c8849a-7fd3-356e-95e9-8116ab1f1148",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
          "id" : "2870b1e9-cfd1-368d-ba8a-b6ae36b70503",
          "name" : "PCFTransformInputPort",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
          "id" : "5ad74e78-dc57-33a3-8b4b-611a0b739216",
          "name" : "RetryFlowFile",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
        "identifier" : "90747e1d-defb-3ad5-9d1d-c860415c2045",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
          "id" : "e955fc38-f0b9-3b16-ae72-7b0fe6c0d156",
          "name" : "UpdateRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : -416.0,
          "y" : -264.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
          "id" : "e955fc38-f0b9-3b16-ae72-7b0fe6c0d156",
          "name" : "UpdateRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
        "identifier" : "10e93a2b-d65f-397c-a54a-ac79e493bf30",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "retry" ],
        "source" : {
          "comments" : "",
          "groupId" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
          "id" : "5ad74e78-dc57-33a3-8b4b-611a0b739216",
          "name" : "RetryFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
          "id" : "f1549214-0d93-3d4c-93cc-b5bcd1ff14ff",
          "name" : "PCFTransfromOutputPort",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
        "identifier" : "9dfa8850-3933-3cdd-a8d7-443918da0fe5",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
          "id" : "e955fc38-f0b9-3b16-ae72-7b0fe6c0d156",
          "name" : "UpdateRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
          "id" : "f5b35899-db2f-3d4a-9b32-b8dfbd9227de",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
        "identifier" : "4c163e07-d38f-307d-be50-47492b8cbcc2",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "retries_exceeded" ],
        "source" : {
          "comments" : "",
          "groupId" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
          "id" : "5ad74e78-dc57-33a3-8b4b-611a0b739216",
          "name" : "RetryFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
        "identifier" : "f5b35899-db2f-3d4a-9b32-b8dfbd9227de",
        "position" : {
          "x" : -488.0,
          "y" : 160.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
        "identifier" : "2870b1e9-cfd1-368d-ba8a-b6ae36b70503",
        "name" : "PCFTransformInputPort",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -225.0,
          "y" : -341.5
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ {
        "componentType" : "LABEL",
        "groupIdentifier" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
        "height" : 136.0,
        "identifier" : "1a69da3c-503b-355e-978b-aa83c987b2e9",
        "label" : "This example assumed that date is in jakarta timezone\n\ntherefore formatting without timezone info will return UTC time",
        "position" : {
          "x" : 156.32776801405976,
          "y" : 141.25
        },
        "style" : {
          "font-size" : "12px"
        },
        "width" : 344.0,
        "zIndex" : 0
      }, {
        "componentType" : "LABEL",
        "groupIdentifier" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
        "height" : 376.0,
        "identifier" : "d42daccd-ba7b-301b-9076-1f27b1d23960",
        "label" : "Input : FlowFile with json records\n\n\nProcess flow file which contains multiple records with json format \n\nCommong Processing:\n- @Timestamp Conversion\n- Data Conversion/processing \n- Removing Special Character\n- Add common attribute to flow file attribute\n- JSON Transformation using JOLT\n- Funnel Failed Record for investigation\n- any other field manipulation\n- Calculating index name\n\nUse Parameter Context \n\n\nOutput : Flow File with json records\n\nREF: \nJolt Testing Tool:\nhttps://jolt-demo.appspot.com/#inception",
        "position" : {
          "x" : 152.0,
          "y" : -328.0
        },
        "style" : {
          "font-size" : "12px"
        },
        "width" : 464.0,
        "zIndex" : 0
      } ],
      "maxConcurrentTasks" : 1,
      "name" : "PCF Transformation",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
        "identifier" : "f1549214-0d93-3d4c-93cc-b5bcd1ff14ff",
        "name" : "PCFTransfromOutputPort",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -190.0,
          "y" : 148.5
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "position" : {
        "x" : -320.0,
        "y" : -64.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0.4.3.2.0-89"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
        "identifier" : "5ad74e78-dc57-33a3-8b4b-611a0b739216",
        "maxBackoffPeriod" : "10 mins",
        "name" : "RetryFlowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -912.0,
          "y" : -160.0
        },
        "properties" : {
          "penalize-retries" : "true",
          "maximum-retries" : "3",
          "Fail on Non-numerical Overwrite" : "false",
          "reuse-mode" : "fail",
          "retry-attribute" : "flowfile.retries"
        },
        "propertyDescriptors" : {
          "penalize-retries" : {
            "displayName" : "Penalize Retries",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "penalize-retries",
            "sensitive" : false
          },
          "maximum-retries" : {
            "displayName" : "Maximum Retries",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "maximum-retries",
            "sensitive" : false
          },
          "Fail on Non-numerical Overwrite" : {
            "displayName" : "Fail on Non-numerical Overwrite",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Fail on Non-numerical Overwrite",
            "sensitive" : false
          },
          "reuse-mode" : {
            "displayName" : "Reuse Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "reuse-mode",
            "sensitive" : false
          },
          "retry-attribute" : {
            "displayName" : "Retry Attribute",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "retry-attribute",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.RetryFlowFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0.4.3.2.0-89"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "de0f2ca3-c5f2-313a-8c08-5be6880014a6",
        "identifier" : "e955fc38-f0b9-3b16-ae72-7b0fe6c0d156",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateRecord",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -272.0,
          "y" : -176.0
        },
        "properties" : {
          "/time" : "format(toDate( /time_original, \"yyyy-MM-dd HH:mm:ss.SSS\", \"GMT+7:00\"), 'yyyy-MM-dd HH:mm:ss.SSS')",
          "/elastic_date" : "format(toDate( /time_original, \"yyyy-MM-dd HH:mm:ss.SSS\", \"GMT+7:00\"), 'yyyy.MM')",
          "/elastic_index" : "concat('applog-',format(toDate( /time_original, \"yyyy-MM-dd HH:mm:ss.SSS\", \"GMT+7:00\"), 'yyyy.MM'))",
          "Record Writer" : "5bce6a9c-c7cf-3c20-8e0f-d856be842b27",
          "Record Reader" : "1b620587-c8ef-386c-805e-7d3e86b5e325",
          "Replacement Value Strategy" : "record-path-value"
        },
        "propertyDescriptors" : {
          "/time" : {
            "displayName" : "/time",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "/time",
            "sensitive" : false
          },
          "/elastic_date" : {
            "displayName" : "/elastic_date",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "/elastic_date",
            "sensitive" : false
          },
          "/elastic_index" : {
            "displayName" : "/elastic_index",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "/elastic_index",
            "sensitive" : false
          },
          "Record Writer" : {
            "displayName" : "Record Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Writer",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Replacement Value Strategy" : {
            "displayName" : "Replacement Value Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.UpdateRecord",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "POCEnv" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "POCEnv",
      "parameters" : [ {
        "description" : "",
        "name" : "elastic_password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "elastic index prefix",
        "name" : "elastic_index",
        "provided" : false,
        "sensitive" : false,
        "value" : "app-log"
      }, {
        "description" : "elastic server",
        "name" : "elastic_url",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://0768c6b5ee2d:9200"
      }, {
        "description" : "",
        "name" : "elastic_user",
        "provided" : false,
        "sensitive" : false,
        "value" : "elastic"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "PCF-Pipeline",
    "timestamp" : 0
  }
}